services:
    postgres:
        image: postgres:16-alpine
        environment:
            POSTGRES_DB: products
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin123
        ports:
            - "5432:5432"
